/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;

// Extra Large desktops
$screen-xxl-min: 1400px;


// Colors
$white: #fff;
$black: #000;
$lightblue: #E2F6F9;
$buttonblue: #349EB5;
$firstblue: #B1E5ED;
$lastblue: #50C5D7;
$darkgrey: #1E1E1E;


