/* =============
    reviews
============= */


.footer{
    text-align:center;
    background-color: #50C5D7;

    li{
        list-style:none;

        @include sm{
            padding:20px;
        }

        @include md{
            padding:30px;
        }

        @include lg{
            padding:40px;
        }
        
        @include xl{
            padding:50px;
        }
    }


    
    ul{
        text-align:center;
        padding:20px 60px;

        p{
            display:none;
    
            @include md{
                display:grid;
                text-align:center;
            }
            @include lg{
                display:grid;
                text-align:center;
            }
        }

        @include sm{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include md{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @include lg{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        text-align:center;


    }
}

.glowforge{
    &.container{
        background-color: #50C5D7;
        text-align:left;
        justify-self:left;
    }
}

.arrow-gone{
    display:arrow;

    @include sm{
        display:none;
    }
   
    @include md{
        display:none;
    }

    @include lg{
        display:none;
    }


}
