/* =============
    formats
============= */

.formats{
    background-color: #E2F6F9;
    padding-left:20px;
    padding-right:20px;

    .design{
        text-align:center;
        padding-bottom:20px;
        h1,p{
            
            text-align:center;
            justify-items:center;

        }

        button{
            margin:0px auto;
            align-self: center;
            
        }
    }

    .click-print{
        text-align:center;
        h1,p{
            text-align:center;
            justify-items:center;

        }

        button{
            margin:0px auto;
            align-self: center;
            
        }
    }

    ul{
        display:flex;

        @include sm{
            display: grid;
            grid-template-columns: 1fr;
        }
        @include md{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }

        @include lg{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }

        img{ 
            padding:20px;
            display:none;
            width:200px;
            
            
            @include md{
                display:flex;
                width:400px;
            }
            @include lg{
                display:flex;
                width:400px;
            }
        
        }

        li{
            list-style:none;
        
        }


    }

    button{

        padding:30px;
        text-align:center;
        border:1px solid white;
        background-color: #349EB5;
        color:white;
        padding:20px 60px;
        border-radius: 30px;

        &:hover{
            background-color: #2D8CA0;
            transition: 0.5s;
        }
    }
   
   


   
}

