/* =============
    heroimage
============= */
 
.heroimage{
    padding-left:20px;
    padding-right:20px;
    background: #B1E5ED;

    li{
        list-style: none;
        padding-right:20px;
    }


    ul{
        padding-right:20px;
        display: none;

        img{
            padding-right:20px;
            padding-left:30px;
        }

    

        p{
            padding-left:5px;
            padding-right:20px;
            padding-bottom:3px;
        }

        @include md{
            padding-right:20px;
            display:flex;
            display:grid;
            grid-template-columns: 1fr 1fr;
            padding:10px;
        }

        @include lg{
            padding-right:20px;
            display:flex;
            display:grid;
            grid-template-columns: 1fr 1fr;
            padding:10px;
        }


        span{
            img{
                padding-left:20px;
                padding-right:20px;
                margin:10px;
                padding:10px;
                width:100%;
                display:flex;

                @include md{
                    display:flex;
        
                }
                @include lg{
                    display:flex;

                }

                @include xl{
                    display:flex;
    
                }
            }
        }
        
    }


}

.align-right{
    justify-self: right;
    text-align:right;
    
}

.overlay{
    padding-left:20px;
    padding-right:20px;
    button{
        border:1px solid #349EB5;
        background-color: #349EB5;
        color:white;
        padding:20px 90px;
        margin:30px;
        border-radius: 30px;

        &:hover{
            background-color: #2D8CA0;
            transition: 0.5s;
        } 
    }
}

.background-hero{
    background-image:url('../img/heroimage.svg');
    background-size: cover;
    background-repeat: no-repeat;

    @inlude lg{}
    
    h1,h2{
        color:#FFFFFF;
    }
}