/* =============
    reviews
============= */

.reviews{
    background-color: #B1E5ED;
    
    h3,p{ 
        text-align:center;
        color:#FFFFFF;

    }



    a{
       color: #165563;
    }

    
    ul{
        text-align:center;
        padding-right:20px;
        @include sm{
            display: grid;
            grid-template-columns: 1fr;
        }
        @include md{
            display:grid;
            grid-template-columns: 1fr 1fr;
        }

        @include lg{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }



        li{
            list-style:none;
            border:1px solid#B1E5ED;
            background-color:#3495B5;
            border-radius:2px;
            border:2px solid #B1E5ED;
            padding:30px 30px;
            margin:20px;
            border-radius: 30px;


            a{
                color: #FFFFFF;
            }

    

        
        }

       


        
    }

}

