/* =============
    Header
============= */


.header-container{
    background-color:#E2F6F9;
    padding: 24px 0;
    width:100%;


    .content{

        
        a{
            color:#165563;
        }
    
        
        display:grid;
        grid-template-columns: 50% auto;
        grid-template-areas: "logo burger";

        @include lg{
            grid-template-areas: "logo nav";

        }

        .logo{
            color: $black;
            font-size: 40px;
            padding-left:30px;

            display:none;

            @include md{
                display:block;
            }
            @include lg{
                display: block;
            }
        }

        .logo-2{
            padding-left:30px;
            display:block;

            @include md{
                display:none;
            }
            @include lg{
                display:none;
            }
        }

        .burger-container{
            display:flex;
            justify-content: flex-end;
            align-items: right;
            padding-right:20px;

            @include lg{
                display:none;
            }

            img{
                width:100px;
            }

            button{
                border:none;
                background-color: transparent;
                color: $black;
                font-size: 20px;

                &:hover{
                    cursor:pointer;
                }
            }
        }
    }
}
